{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>KRI-Color Lab</h1>
    <p>Request for Development Database</p>
  <div class = "container">
    <div class="row">
        <div class = "col">
          <div class="mb-3">
            <img src="static/images/color1.jpg" class="img-fluid-cust" alt="KRI-Color Logo">
          </div>
        </div>
        <div class = "col">
          <div class="mb-3">
            <img src="static/images/color2.jpg" class="img-fluid-cust" alt="KRI-Color Logo">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p>"E Pluribus Unum" was the motto proposed for the first Great Seal of the United States by John Adams, Benjamin Franklin, and Thomas Jefferson in 1776. A latin phrase meaning "One from many," the phrase offered a strong statement of the American determination to form a single nation from a collection of states. Over the years, "E Pluribus Unum" has also served as a reminder of America's bold attempt to make one unified nation of people from many different backgrounds and beliefs. The challenge of seeking unity while respecting diversity has played a critical role in shaping our history, our literature, and our national character.</p>
  </div>
</div>
<div class="container">
  <p>"E Pluribus Unum" was the motto proposed for the first Great Seal of the United States by John Adams, Benjamin Franklin, and Thomas Jefferson in 1776. A latin phrase meaning "One from many," the phrase offered a strong statement of the American determination to form a single nation from a collection of states. Over the years, "E Pluribus Unum" has also served as a reminder of America's bold attempt to make one unified nation of people from many different backgrounds and beliefs. The challenge of seeking unity while respecting diversity has played a critical role in shaping our history, our literature, and our national character.</p>
</div>
</div>

{% endblock %}
