{% extends "layout.html" %}

{% block title %}
    Standards Signoff
{% endblock %}

{% block main %}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="development" role="tabpanel" aria-labelledby="development-tab">
        <h4 class="mt-2">Sign Off Standard Requests</h4>
        <p></p>
        <div style = "border: 1px solid lightgray; padding: 10px; margin: 10px">
            <p><b>{{ results[0]["company"]  }}</b></p>
            <p> {{ results[0]["firstname"]  }}  {{ results[0]["lastname"]  }} <b>/</b> {{ results[0]["email"]  }} </p>
    </div>

    <form action="/std_signoff" method="POST">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="date_completed" type="date" placeholder="Date Completed">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shipping_company" type="text" placeholder="Shipping Company">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="ship_tracking" type="text" placeholder="Tracking Number">
        </div>
       <!--<input type="submit" value="Register">-->
        <button class="btn btn-primary" type="submit">Signoff</button>
    </form>
{% endblock %}